.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 65px 10px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-bar {
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0px;
  background-color:#f4f4f4;
  width:234px;
  height:38px;
}

.search-bar {
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0px;
  background-color:#f4f4f4;
  width:196px;
  height:38px;
}

.search-button {
  border: 0;
  padding: 0;
  height: 38px;
  width: 38px;
  background-color: #a5cd39;
}

.search-icon {
  height: 24px;
  width: 24px;
  padding: 7px;
  background-color: #a5cd39;
}
