* {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 40px 0;
  border-top: 5px solid #F5C85F;
}

.phone-image {
  margin-right: 40px;
}

.separator {
  margin-right: 40px;
  width: 5px;
  background: -webkit-linear-gradient(to bottom, transparent, #F5C85F, transparent);
  background: linear-gradient(to bottom, transparent, #F5C85F, transparent)
}

.logo-image {
  align-self: center;
}

@media (max-width: 1200px) {
  .phone-image,
  .separator {
    display: none;
  }
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #EEE;
  position: relative;
  padding: 20px;
}

.features::before {
  content: '';
  background-image: url("../images/triangle.png");
  width: 100%;
  height: 12px;
  position: absolute;
  top: -12px;
  left: 0;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-image {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  color: #111;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.description {
  color: #999;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
