.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px 0 0 0
}

.phone-image {
  margin: 0 40px 0 0;
}

.separator {
  width: 5px;
  background: -webkit-linear-gradient(to bottom, #00000000, #F5C85F, #00000000);
  background: linear-gradient(to bottom, #00000000, #F5C85F, #00000000)
}

.logo-image {
  align-self: center;
  margin: 0 0 0 40px;
}

.top-bar {
  height: 5px;
  background: #F5C85F;
}

.features {
  display: flex;
  flex-flow: row wrap;
  margin: 100px 0 0 0;
  justify-content: space-around;
  word-wrap: break-word;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

}

p {
  font-family: Open Sans;
  flex-wrap: wrap;
}

.bold {
  margin: 20px 0 0 0;
  color: #111;
  font-size: 16px;
  text-align: center;
}

.description {
  margin: 20px 0 0 0;
  color: #999;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 1200px) {
  .phone-image {
    display: none;
  }
  .separator {
    display: none;
  }
}
