.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px 0 0 0
}

.phone-image {
  margin: 0 40px 0 0;
}

.separator {
  width: 5px;
  background: -webkit-linear-gradient(to bottom, #00000000, #F5C85F, #00000000);
  background: linear-gradient(to bottom, #00000000, #F5C85F, #00000000)
}

.logo-image {
  align-self: center;
  margin: 0 0 0 40px;
}

.top-bar {
  height: 5px;
  background: #F5C85F;
}

.features {
  display: flex;
  flex-flow: row wrap;
  margin: 100px 0 0 0;
  justify-content: space-around;
  word-wrap: break-word;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  font-family: Open Sans;
}

.bold {
  margin: 20px 0 0 0;
  color: #111;
  font-size: 16px;
  text-align: center;
}

.description {
  margin: 20px 0 0 0;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.footer {
  box-shadow: 0 -5px #EEE;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 50px 0 0 0;
  background: #F5C85F;
  height: 500000px;
}

.footer-text {
  color: #FFF;
  margin: 20px 0 0 0;
  font-size: 18px;
}

.email {
  margin: 20px 0 0 0;
  border-radius: 15px;
  height: 40px;
  width: 400px;
}

.button {
  margin: 20px 0 0 0;
  color: #FFF;
  border: solid;
  border-width: 1px;
  border-color: #FFF;
  border-radius: 10px;
  font-family: Open Sans;
  font-size: 18px;
  padding: 15px;
}

@media (max-width: 1200px) {
  .phone-image {
    display: none;
  }
  .separator {
    display: none;
  }
}
