.body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.book-detail {
  display: flex;
  flex-flow: row wrap;
}

.book-info {
  display: flex;
  flex-flow: column wrap;
}

.book-cover {

}

.title {

}

.detail {

}

.description {

}

.rent-button {
  
}

.sugestions {

}

.comments {

}
