.body {
  display: grid;
  flex-flow: row wrap;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(auto, 128px));
  grid-column-gap: 70px;
  grid-row-gap: 65px;
  margin: 65px 358px;
}

.book {
  display: flex;
  flex-flow: column  wrap;
  max-width: 128px;
}

.book-author {
  font-size: 12px;
  margin: 0;
}

.book-title {
  font-size: 14px;
}

.default-book-icon {
  height: 75px;
  width: 75px;
  padding: 54px 26px;
  margin-bottom: 10px;
  background-color: #d8d8d8;
}

.book-icon {
  height: 182px;
  width: 128px;
  margin-bottom: 10px;
}
