.App {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px
}

.App-logo {
  margin: 25px 35px;
  height: 40px;
}

.App-menu-item {
  margin: 5px 15px;
  height: 30px;
  width: 30px;
}

.App-profile-img {
  margin-left: 15px;
  height: 40px;
  width: 40px;
}

.App-menu {
  margin: 25px 35px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFF;
  height:90px;
  box-shadow: 0px 5px 5px #BBB;
  color: white;
}
